.root {
  table-layout: fixed;
  border-collapse: collapse;

  width: 100%;

  color: var(--color-light-100);

  border: 1px solid var(--color-dark-500);
}

.tableHead {
  background-color: var(--color-dark-500);
}

.tableRow {
  border-bottom: 1px solid var(--color-dark-500);
}

.tableBody {
  position: relative;
}

.tableHeadCell {
  position: relative;
  padding: 6px 22px;
  text-align: left;

  & .tableHeadTitle {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    width: fit-content;
  }

  &:first-child {
    width: 300px;
  }

  &:nth-child(2) {
    width: 300px;
  }
}

.tableDataCell {
  padding: 6px 22px;

  &:last-child {
    text-align: center;
  }

  &:not(:last-child) {
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tableDataContent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 10px;
  transform-origin: center;

  margin-left: 5px;

  fill: var(--color-light-100);
}

.arrowUp {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.tableImage {
  width: 150px;
  height: 50px;
}

@media screen and (width <= 764px) {
  .root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-bottom: 18px;
  }

  .tableHead {
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  .tableBody {
    display: flex;
    flex-direction: column;
  }

  .tableDataCell {
    width: 100%;
  }

  .tableHeadCell {

    &:first-child {
      width: 0;
    }

    &:nth-child(2) {
      width: 0;
    }
  }
}