.root {
  border-collapse: collapse;

  width: 100%;

  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.tableHead {
  background-color: var(--color-dark-500);;
}

.tableRow {
  border-bottom: 1px solid var(--color-dark-500);
}

.tableHeadCell {
  position: relative;
  padding: 6px 24px;
  text-align: left;

  & .tableHeadTitle {
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    user-select: none;
  }

  &:first-child {
    min-width: 200px;
  }
}

.tableDataCell {
  padding: 6px 24px;


  &:last-child {
    text-align: right;
  }

  &:not(:last-child) {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tableDataContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  position: absolute;
  transform-origin: center;
  fill: var(--color-light-100);
  margin-left: 5px;
  top: 10px;
}

.arrowUp {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.tableImage {
  height: 50px;
  width: 150px;
}