.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: flex-start center;

  //max-width: 1280px;
  margin: 0 auto;
  padding: 12px 16px;

  max-width: 1006px;
  width: 100%;

  & .headerRightSection {
    display: flex;
    //justify-content: center;
    width: 300px;
    justify-content: flex-end;
  }
}

.logoIcon {
  fill: var(--color-light-100);
}

.mobileLogoIcon {
  display: none;
}

.headerLogo:hover {
  cursor: pointer;
}

.headerBlock {
  background-color: var(--color-dark-700);
}

.userBlock {
  user-select: none;
  display: flex;
  align-items: center;

  & img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  & span {
    text-decoration: underline dashed var(--color-light-100) 2px;
    text-underline-offset: 5px;
  }
}

.dropDownTrigger :hover {
  cursor: pointer;
}

.themeSwitcher {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 25px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .logoIcon {
    display: none;
  }

  .mobileLogoIcon {
    display: block;
  }
}

