.deckWrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
  padding: 24px 16px;
}

.paginationBlock {
  margin-top: 24px;
}

.deckText {
  margin: 20px auto;
}

.loaderBlock {
  width: 100%;
  height: 100%;
}

.loaderRow {
  padding: 0;
  border: none;
}

.loaderCell {
  padding: 0;
}
