button {
  all: unset;
}

.selectWrapper {
  margin: 10px;

  & .selectLabel {
    font-weight: 400;
    color: var(--color-dark-100);
  }

  & .selectLabelDisabled {
    color: var(--color-dark-300);
  }
}

.selectTrigger {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 6px 10px 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  & .arrow {
    fill: var(--color-light-100);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-300);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &[data-disabled] {
    color: var(--color-dark-300);

    & .arrow {
      fill: var(--color-dark-300);
    }

    &:hover {
      background-color: inherit;
    }
  }

  &[data-state='open'] {
    border-color: var(--color-light-100);
    border-bottom: none;
    border-radius: 2px 2px 0 0;
  }
}

.selectContent {
  overflow: hidden;

  width: var(--radix-select-trigger-width);

  background-color: inherit;
  border: 1px solid var(--color-light-100);
  border-radius: 0 0 2px 2px;

  &:hover {
    cursor: pointer;
  }
}

.selectGroup {
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  & [data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }

  & [data-state='checked'] {
    color: var(--color-accent-300);
  }
}

.selectItem {
  padding: 6px 27px 6px 11px;
}
