.learnCard {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin-top: 40px;
}

header {
  margin: 0 auto;
}

.sub {
  color: grey;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 137px;
}

.text {
  word-wrap: break-word;
}
