.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 137px;
}

.cardsHeader {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.backToDeck {
  --font-family-primary: 'Roboto';

  display: flex;
  gap: 5px;
  color: var(--color-light-100);
  text-decoration: none;

  &:hover {
    color: var(--color-accent-300);
  }
}

.arrowBack {
  margin-top: 2px;
  fill: currentcolor;
}

.tableImage {
  min-width: 150px;
  max-height: 150px;
}

.emptyTypography {
  font-size: 20px;
  color: var(--color-dark-100);
}

.addCardDown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
}

.dropDown {
  z-index: 0;

  width: 20px;
  height: 20px;

  border: 2px solid white;
  border-radius: 50%;
}

.dropDownDiv {
  display: flex;
  flex-direction: row;
}
