.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 137px;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
}

.dropDown {
  z-index: 0;

  width: 20px;
  height: 20px;

  border: 2px solid white;
  border-radius: 50%;
}
