.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  padding: 24px;
}

.uploadImageBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin: 24px 0;
}

.btnArea {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 12px 0 36px;
}

.deckImage {
  width: 100%;
  height: 150px;
  margin-top: 20px;

  background-position: left;
  border-radius: 4px;
}

.fileInput {
  display: none;
}

.imageAction {
  display: flex;
  flex-direction: row;
}
