.signInLabel {
  margin-bottom: 51px;
  text-align: center;
}

.emailField {
  margin: 27px 0 24px;
}

.formQuestion {
  margin: 20px 0 7px;
  color: var(--color-light-700);
  text-align: center;
}

.submitButton {
  display: flex;
  margin: 0 auto;
  text-decoration: underline;
}

.enterEmail {
  margin-top: 20px;
  margin-bottom: 65px;
  color: var(--color-light-900);
}

.forgotPasswordWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
