.root {
  border-collapse: collapse;

  width: 100%;

  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.tableHead {
  background-color: var(--color-dark-500);;
}

.tableRow {
  border-bottom: 1px solid var(--color-dark-500);
}

.tableHeadCell {
  padding: 6px 24px;
  text-align: left;
}

.tableDataCell {
  padding: 6px 24px;

  &:last-child {
    text-align: right;
  }
}

.tableDataContent {
  display: flex;
  align-items: center;
  gap: 10px;
}