.profileWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 137px;
}

.profileLabel {
  text-align: center;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 27px;
  margin-bottom: 16px;
}

.photoWrapper {
  position: relative;
  z-index: 1;
  max-width: 96px;
}

.errorText {
  color: var(--color-danger-300);
}

