.paginationWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 535px;

  & > button {
    width: 24px;
    height: 24px;
    margin: 0 12px;

    font-size: var(--font-size-xs);
    color: var(--color-light-100);
    text-align: center;

    background-color: inherit;
    border: none;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
      color: var(--color-light-100);
      background-color: var(--color-dark-500);
    }
  }
}

.dots {
  margin: 0 12px;
  fill: var(--color-light-100);
}

.arrow {
  width: 15px;
  height: 24px;
  fill: var(--color-light-100);

  &:hover {
    cursor: pointer;
  }
}

.selectWrapper {
  display: flex;
  align-items: center;

  width: auto;
  margin-left: 24px;

  font-size: 14px;
  white-space: nowrap;
}

.paginationSelect {
  width: 50px;
  height: 24px;
  padding: 0 2px 0 6px;

  font-size: 14px;

  background-color: var(--color-dark-700);
}

.paginationSelectItem {
  padding: 0 6px;
  font-size: 14px;
  background-color: var(--color-dark-700);
}
