.pagination_container {
  display: flex;
  align-items: center;
  color: var(--color-light-100);

  .pagination_item {
    display: flex;
    place-content: center;
    place-items: center;

    min-width: 24px;
    height: 24px;
    margin: 0 12px;

    font-size: 14px;
    text-align: center;

    border-radius: 2px;

    &:hover {
      cursor: pointer;
      color: var(--color-light-100);
      background-color: var(--color-dark-500);
    }
  }
}

.dots {
  min-width: 24px;
  height: 24px;
  margin: 0 12px;
  fill: var(--color-light-100);
}

.arrow {
  width: 15px;
  height: 24px;
  fill: var(--color-light-100);

  &:hover {
    cursor: pointer;
  }
}

.selected {
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
}

.disabled {
  pointer-events: none;
  fill: var(--color-dark-100);
}

.selectWrapper {
  display: flex;
  align-items: center;

  width: auto;
  margin-left: 24px;

  font-size: 14px;
  white-space: nowrap;
}

.paginationSelect {
  width: 50px;
  height: 24px;
  padding: 0 2px 0 6px;

  font-size: 14px;

  background-color: var(--color-dark-700);
}

.paginationSelectItem {
  padding: 0 6px;
  font-size: 14px;
  background-color: var(--color-dark-700);
}
