.tableDataContent {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  width: 100px;

  &:first-child {
    max-width: 250px;
  }
}

.tableImage {
  min-width: 70px;
  max-width: 70px;
  height: 50px;
  object-fit: cover;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  fill: var(--color-light-100);
}

.disableIcon {
  pointer-events: none;
  fill: var(--color-dark-100);
}

@media screen and (width <= 764px) {
  .btnsArea {
    position: absolute;
    border: 1px solid var(--color-dark-500);
    border-bottom: none;
    width: 331px;
    right: 0;
    bottom: -18px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
}
