.tableDataContent {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  width: 100px;

  &:first-child {
    max-width: 250px;
  }
}

.tableImage {
  min-width: 70px;
  max-width: 70px;
  height: 50px;
  object-fit: cover;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  fill: var(--color-light-100);
}

.disableIcon {
  pointer-events: none;
  fill: var(--color-dark-100);
}
