.tableDataContent {
  display: flex;
  align-items: center;

  padding: 6px 0;

  font-size: 14px;
  color: var(--color-light-100);
}

.tableImage {
  width: 118px;
  height: 48px;
  margin-right: 10px;
  object-fit: cover;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
}

.disableIcon {
  pointer-events: none;
  fill: var(--color-dark-100);
}
