.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  width: 100%;
}

.uploadImageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 24px 0;
}

.btnArea {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 12px 0 36px;
}