.deckHead {
  display: flex;
  justify-content: space-between;
}

.deckFilter {
  display: flex;
  gap: 10px;
  place-content: center space-between;
  place-items: flex-end center;

  margin: 7px 0 36px;
}

.deckFilterGroup {
  display: flex;
  gap: 15px;
  place-content: center space-between;
  place-items: flex-end center;
}

.deleteIcon {
  align-items: center;
  margin-left: 50px;
  fill: var(--color-light-100);
}

.sliderLabel {
  margin-bottom: 5px;
}

.searchInput {
  width: 300px;
}

@media screen and (width <= 999px) {
  .deckFilter {
    flex-direction: column;
    gap: 20px;
    place-items: flex-start center;
    width: 100%;
  }

  .searchFieldWrapper {
    width: 100%;
    margin: 20px 0 23px;
  }

  .searchInput {
    display: block;
    width: 100%;
  }

  .deckFilterGroup {
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (width <= 764px) {
  .deckFilterGroup {
    flex-direction: column;
    gap: 24px;
    place-items: center center;
    width: 100%;
  }

  .buttonClear {
    width: 100%;
  }
}
