.checkEmailLabel {
    text-align: center;
}

.iconWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    & .icon {
        width: 96px;
        height: 96px;
        margin: 27px auto 0;
    }
}
.sentEmail {
        margin-top: 19px;
        color: var(--color-light-900);
        text-align: center;
}
.button{
    margin-top: 65px;
}