.tableDataContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;

  max-width: 280px;
}

.cardTypography {
  white-space: pre-wrap;
}

.rowImage {
  min-width: 70px;
  max-width: 70px;
  height: 50px;
  object-fit: cover;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  fill: var(--color-light-100);
}

.cardsCount {
  width: 20px;
  border: 2px solid red;
}
