.tableDataContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;

  max-width: 280px;
}

.cardTypography {
  white-space: pre-wrap;
}

.rowImage {
  min-width: 70px;
  max-width: 70px;
  height: 50px;
  object-fit: cover;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  fill: var(--color-light-100);
}

.cardsCount {
  width: 20px;
  border: 2px solid red;
}

@media screen and (width <= 764px) {
  .btnsArea {
    position: absolute;
    border: 1px solid var(--color-dark-500);
    border-bottom: none;
    width: 331px;
    right: 0;
    bottom: -18px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
}
