.headerWrapper {
  display: flex;
  place-content: center space-between;
  place-items: center center;

  padding: 12px 0;

  background-color: var(--color-dark-700);

  & .contentWrapper {
    display: flex;
    place-content: center center;
    width: 1280px;
  }

  & .headerRightSection {
    display: flex;
    justify-content: center;
    width: 300px;
  }
}

.userBlock {
  display: flex;
  align-items: center;

  & img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  & span {
    text-decoration: underline dashed var(--color-light-100) 2px;
    text-underline-offset: 3px;
  }
}
