.TabsRoot {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;

  box-shadow: 0 2px 10px var(--black-a4);
}

.TabsList {
  display: flex;
  flex-shrink: 0;

  height: 36px;
  margin-top: 5px;

  border-bottom: 1px solid var(--mauve-6);

  &:focus-visible {
    background-color: #0a6638;
  }
}

.TabsTrigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 24px;

  font-family: inherit;
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-500);
  border-right: none;
  border-radius: 2px 0 0 2px;

  &:not(:first-child) {
    border: 1px solid var(--color-dark-500);
    border-radius: 0;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);

    .TabsTitle {
      cursor: pointer;
      color: var(--color-light-900);
    }

    & + :nth-child(2) {
      border-left: none;
    }
  }

  &.TabsTrigger[data-state='active'] {
    background-color: var(--color-accent-500);
    border-color: var(--color-accent-500);
  }

  &:focus-visible {
    &.TabsTrigger[data-state='active'] {
      background-color: var(--color-dark-700);
      border: transparent;
      outline: 2px solid var(--color-info-900);
    }

    & + :nth-child(2) {
      border-left: none;
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--color-dark-700);

    .TabsTitle {
      color: var(--color-dark-300);
    }
  }
}
