.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  height: 552px;
  padding: 33px 36px 25px;

  background-color: var(--color-dark-700);

  & .cardItems {
    width: 100%;
  }
}
