.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 137px;
}

.cardsHeader {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.arrowBack {
  margin-left: 12px;
}

.backToDeck {
  display: flex;
  padding-left: 22px;
  color: var(--color-light-100);
}

.tableImage {
  width: 50px;
  height: 50px;
}

.tableDataContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.emptyTypography {
  margin: 0 auto;
  color: var(--color-dark-100);
}
