.cardWrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 137px;
}
.cardsHeader{
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.backToDeck{
  margin-left: -20px;
  color: var(--color-light-100);
}
.tableImage {
  width: 50px;
  height: 50px;
}
.tableDataContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.emptyTypography{
  margin: 0 auto;
  color: var(--color-dark-100);
}
