.createPasswordLabel {
  margin-bottom: 51px;
  text-align: center;
}
.passwordField {
  margin: 24px 0 12px;
}
.createPassword{
  margin-top: 10px;
  margin-bottom: 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}
.button{
  margin-bottom: 30px;
}